:root {
  --small-screen: 375px;
  --large-screen: 1440px;
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --font-size: 14px;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  max-width: var(--small-screen);
  width: 365px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  margin: auto;
}

.container {
  background-color: var(--cream);
  height: auto;
  position: relative;
  padding: var(--font-size);
  padding-top: calc(var(--font-size)*1.5);
  padding-bottom: calc(var(--font-size)*1.5);
}

.content {
  background-color: white;
  border-radius: var(--font-size);
  font-size: 0;
}

.big-pic {
  width: 100%;
  border-top-left-radius: var(--font-size);
  border-top-right-radius: var(--font-size);
}

.text-content {
  padding: calc(var(--font-size)*1.5);
  font-size: var(--font-size);
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin: var(--font-size) 0;
}

.price {
  display: flex;
  align-items: center;
  margin-top: calc(var(--font-size)*0.5);
}

.price h1 {
  color: var(--dark-cyan);
  padding-right: calc(var(--font-size)*1.5);
}

button {
  border-radius: var(--font-size);
  background-color: var(--dark-cyan);
  color: white;
  width: 100%;
  padding-top: var(--font-size);
  padding-bottom: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  margin-right: var(--font-size);
}

p {
  line-height: 1.5;
  margin: 0;
}
