:root {
  --small-screen: 375px;
  --large-screen: 1440px;
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
}

main {
  background-color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  margin: calc(var(--font-size)*1.5) var(--font-size);
  width: 600px;
}

.picture {
  width: 50%;
  border-radius: var(--font-size) 0 0 var(--font-size);
}

.text-content {
  padding: calc(var(--font-size)*2);
  font-size: var(--font-size);
  background-color: white;
  border-radius: 0 var(--font-size) var(--font-size) 0;
  width: 40%;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size-adjust: 0.55;
  margin: calc(var(--font-size) * 1.5) 0;
}

.price {
  display: flex;
  align-items: center;
  margin-top: calc(var(--font-size)*0.5);
}

.price h1 {
  color: var(--dark-cyan);
  padding-right: var(--font-size);
}

button {
  border-radius: var(--font-size);
  background-color: var(--dark-cyan);
  color: white;
  width: 100%;
  padding-top: var(--font-size);
  padding-bottom: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

button img {
  margin-right: var(--font-size);
}

p {
  line-height: 1.5;
  margin: 0;
}

@media screen and (orientation:portrait) {
  .content {
    width: 350px;
    flex-direction: column;
  }
}
